<h1>Product</h1>

<div>
    <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Name" type="text" required [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantity" type="number" required [(ngModel)]="product.quantity" name="quantity">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Price" type="number" required [(ngModel)]="product.price" name="price">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Size" type="text" required [(ngModel)]="product.size" name="Size">
        </mat-form-field>

        <mat-checkbox class="example-margin" name="isFrameAvailable" [(ngModel)]="product.isFrameAvailable">Frame Available?</mat-checkbox>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50" class="action-buttons">
                <button type="submit" mat-button color="primary">
           Save
        </button>

                <button type="button" (click)="onNoClick()" mat-button color="primary">
           Cancel
        </button>
            </div>
        </div>
    </form>
</div>